#nav{
    display: flex;
    justify-content: space-between;
}
#nav img{
    width: 10vw;
    height: 20vh;
    margin-left: 60px;
}
#sidenav{
    display: flex;
    justify-content: space-between;
    padding: 20px 5em;
    font-size: 20px;
}
#sidenav a{
    padding-left: 40px;
    text-decoration: none;
    font-weight: 600;
}
.h1s{
        text-align: center;
        text-transform: capitalize;
        font-size: 2.5em;
        color: rgb(173, 11, 11);
    
}
.sideinfo{
    width: 90%;
    margin: auto;
    max-height: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 20px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.sideinfo img{
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 50vh;
    border-radius: 20%;
}
.desr{
    display: flex;
    flex-direction: column;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.desr p:first-child{
    font-size: 25px;
    padding: 0px 15px;
    font-weight: 700;            
}
.desr p:nth-child(2){
    font-size: 20px;
    padding: 0px 15px;
    text-align: justify;    
}
.desr p:nth-child(3){
    font-size: 20px;
    padding: 0px 15px;
    text-align: justify;    
}
    
.tables{
    width: 70%;
    margin: 3rem auto;
    /* font-size: 2rem; */
}
.theading , .tdata{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
.theading{
    font-size: 2rem;
    color: red;
    font-weight: 700;
}
.theading div, .tdata div{
border: 2px solid #666;
flex: 1;
text-align: center;
}
.tdata div p{
    border-bottom : 1px solid #666;
    font-size: 16px;
    padding: 5px;
    font-weight: 700;
    line-height: 15px;

}

.tdata div p:last-child{
    border-bottom : none;
    margin-bottom: 4px !important;
}

/* formcss */
.formsdaat{
    text-align: center;
    width: 80%;
    margin: auto;
}
.formsdaat h1{
    color: rgb(182, 17, 17);
}
.formsdaat input{
    width: 50%;
    padding: 10px;
    font-size: 1em;
}
.formsdaat button{
    background: rgb(251,104,63);
background: radial-gradient(circle, rgba(251,104,63,1) 0%, rgba(116,109,111,1) 100%);
    font-size: 1.2em;
    font-weight: 700;
    color: #fff;
    padding: 10px 15px;
    text-transform: capitalize;
    width: 50%;
    border: solid rgb(114, 5, 5) 1px;
}

/* indexcss */
#box{
    display: grid;
    place-items: center;
    margin: 20px;
    position: relative;
}
#box input{
    border: 2px solid rgb(151, 7, 7);
    width: 500px;
    font-size: 20px;
    padding: 10px;

}
.info{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-height: 260px;
    overflow-y: auto;
    max-width: 500px;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 35%;
    z-index: 1;
    right: 32%;
    background-color: #fff;

}

::-webkit-scrollbar{
    display: none;
}
.info div{
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;

}
.info img{
    width: 60px;
    height: 60px;
}
.info p{
    font-size: 20x;
    padding-right: 40px;
    font-weight: 700;
}
.hide{
    display: none;
}
#User-Details{
    position: absolute;
    right: 3%;
    top: 15%;
    font-size: 13px;
    color: rgb(85, 85, 66);
}
#User-Details h1{
    color: rgb(85, 85, 66);
}